*{
  background-color:;
  color: blac;
  text-align: center;   
}

h1{
  border-color:black;
  border-style: dotted;
  border-width: 1px;
  width: center 20px;
  
  text-align: center;
}

main{
   margin: 10px;
   padding: 25px;
   border-width: 2px;
   border-style: solid;
   border-color: black;
   border-style: left dotted;
   text-align: center;
   padding-left: 485px;
   /* margin format */
   margin: 50px;
   margin-top: 20px;
   margin-right: 60px;
   margin-bottom: 20px;
   margin-left: 60px;
   border-radius: 20px;
   
}

button{
  color: black;
  background-color: chocolate;
  text-align: start;
}

form{ 
  
  width: 300px;
  text-align: center;
  padding-left: 20px;
  border: 3px dotted black;
  padding-right: 25px;
  padding-bottom: 25px;
  margin: 30px;
  border-radius: 20px;
  
}

body{
  background-image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fphotos%2Fbackground&psig=AOvVaw2njrE-5d638gX__4jaJyk2&ust=1705045167856000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOjmrLHq1IMDFQAAAAAdAAAAABAD ("pattern.jpg");
   
}